.navigation {
  background-color: rgba(10, 24, 74, 0.8); /* Темно-синий цвет с прозрачностью */
  color: #ffffff;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Размещаем элементы по краям */
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-left: 20px; /* Добавляем отступ слева */
}

.nav_links {
  display: flex;
  gap: 15px; /* Уменьшаем отступ между ссылками */
  margin-right: 20px; /* Добавляем отступ справа */
}

.nav_link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.nav_link:hover {
  text-decoration: underline;
  color: #e9c46a;
}