.home-container {
  background-image: url('../assets/images/back2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-content h1 {
  margin-top: 300px;
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

.main-content h1, .main-content h2, .main-content p {
  text-shadow: 1px 1px 2px rgba(173, 171, 171, 0.3); /* Добавляем тень к тексту */
}

.main-content h2 {
  font-size: 2rem;
}

.main-content p {
  font-size: 1.5rem; /* Увеличиваем размер текста абзацев */
  line-height: 1.5; /* Увеличиваем межстрочный интервал для лучшей читаемости */
}

.button-container {
  margin-top: 20px;
}

.info-section {
  font-size: 2rem;
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px; /* Закругленные углы */
}

.info-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.call-to-action {
  margin-top: 20px;
}