.navigation {
    display: flex;
    flex-direction: column; /* Вертикальная компоновка */
    align-items: center; /* Центрируем элементы по горизонтали */
    padding: 5px 0; /* Уменьшаем отступы сверху и снизу */
    position: fixed; /* Делаем навигацию фиксированной */
    top: 0; /* Прикрепляем к верхней части страницы */
    left: 0; /* Прикрепляем к левому краю страницы */
    right: 0; /* Прикрепляем к правому краю страницы */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы навигация была поверх других элементов */
    background-color: #d3d3d3; /* Серый цвет фона для навигации */
  }
  
  .nav-links {
    display: flex; /* Горизонтальное расположение ссылок */
  }
  
  .nav-link {
    margin: 0 10px; /* Уменьшаем отступы между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
    color: #646cff; /* Цвет текста ссылок */
    background-color: white; /* Цвет фона для кнопок */
    border-radius: 8px; /* Скругление углов */
    padding: 10px 20px; /* Уменьшаем отступы внутри кнопки для меньшего размера */
    font-size: 1em; /* Уменьшаем размер шрифта для кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при наведении */
  }
  
  .nav-link:hover {
    background-color: #f0f0f0; /* Цвет фона при наведении на кнопку */
  }
  
  .nav-link:visited {
    color: gray; /* Цвет посещенных ссылок (можно изменить) */
  }