.tours {
  padding: 40px; /* Увеличьте отступы вокруг всей секции */
  background-color: #f9f9f9;
  text-align: center;
}

.tours h1 {
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #333;
}

.tours-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Увеличьте отступы между карточками */
  padding: 20px; /* Добавьте внутренние отступы для контейнера */
}

.tours-container > div {
  flex: 1 1 350px; /* Минимальная ширина карточки 350px */
  max-width: 450px; /* Максимальная ширина карточки 450px */
  margin: 0 10px; /* Добавьте отступы по бокам для карточек */
}