@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/my_font') format('otf'),
    url('/fonts/my_font') format('otf');
    font-weight: 400;
    font-style: normal;
   }
   body {
    font-family: 'MyCustomFont', sans-serif;
   }
   